annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1783975656336/work
certifi==2026.7.22
charset-normalizer==3.5.2
click==8.5.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
debugpy @ file:///D:/bld/bld/rattler-build_debugpy_1789745267/work
dotenv==0.9.9
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
fastapi==0.142.2
h11==0.16.0
idna==3.19
ipykernel @ file:///D:/bld/bld/rattler-build_ipykernel_1781101760/work
ipython @ file:///D:/bld/bld/rattler-build_ipython_1788260382/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jedi_1782251948/work
Jinja2==3.1.6
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_client_1787929615/work
jupyter_core @ file:///D:/bld/bld/rattler-build_jupyter_core_1760643889/work
MarkupSafe==3.0.3
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1778264321245/work
nest-asyncio2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_nest-asyncio2_1770973502/work
opentelemetry-api==1.45.0
packaging==26.3
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1777722955/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1789914745/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1785160527032/work
psutil @ file:///D:/bld/bld/rattler-build_psutil_1789682051/work
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1789159354067/work
pydantic==2.13.5
pydantic_core==2.46.5
Pygments @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pygments_1786995678/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv==1.2.4
pywin32 @ file:///D:/bld/bld/rattler-build_pywin32_1789685723/work
pyzmq @ file:///D:/bld/bld/rattler-build_pyzmq_1789730184/work
requests==2.34.2
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
starlette==1.7.0
tornado @ file:///D:/bld/tornado_1789910999552/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_traitlets_1785761789/work
typing-inspection==0.4.4
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1783002732/work
urllib3==2.8.0
uvicorn==0.53.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_wcwidth_1789858677/work
